.song hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.song hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
}
.song hr:before {
    position: absolute;
    top: -10px;
    left: 5%;
    z-index: 1;
    color: #49b1f5;
    content: '\f0c4';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.song {
  line-height:1.8;
  word-wrap:break-word;
  font-size:18px;
  text-align:justify;
}

.crater p {
  text-indent:2em;
}

.song address,
.song caption,
.song cite,
.song code,
.song dfn,
.song th {
  font-style:normal;
}

.song caption,
.song th {
  text-align:left;
}

.song q:after,
.song q:before {
  content:'';
}

.song code,
.song kbd,
.song pre,
.song pre tt {
  font-family:'Poppins',"SF Pro SC","SF Pro Text","SF Pro Icons",PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
}

.song figcaption {
  font-size:80%;
  color:rgba(0,0,0,0.54);
  margin-top:10px;
  text-align:center;
}

.song dl,
.song figure,
.song form,
.song ol,
.song p,
.song pre,
.song table,
.song ul {
  margin:0 0 1.2em 0;
}

.song figure {
  max-width:100%;
  margin:15px auto;
}

.song img {
  max-width:100%;
  margin:0 auto;
  height:auto;
  text-align:center;
  display:block;
}

.song blockquote {
  background:#f3f5f7;
  border-left:3px solid #dde6e9;
  margin:1.5em 10px;
  padding:13px 45px;
  quotes:"\201C" "\201D" "\2018" "\2019";
  font-size:1em;
}

.song blockquote p {
  margin:0;
}

.song mark {
  padding:2px;
  margin:0 5px;
  background:#fffdd1;
  border-bottom:1px solid #ffedce;
}

.song h1,
.song h2,
.song h3,
.song h4,
.song h5,
.song h6 {
  margin-top:1.2em;
  margin-bottom:0.6em;
  font-family:inherit;
  line-height:1.35;
  color:inherit;
}

.song h1 {
  font-size:1.6em;
}

.song h2 {
  font-size:1.4em;
}

.song h3 {
  font-size:1.2em;
}

.song h4 {
  font-size:1em;
}

.song h5 {
  font-size:.9em;
}

.song h6 {
  font-size:.8em;
}

.song h1::before, .song h2::before, .song h3::before, .song h4::before, .song h5::before, .song h6::before {
    content: "¶";
    margin-right: 10px;
    color: #5cafff;
}



.song a {
  color:#F55852;
  position:relative;
  white-space:normal;
  word-break:break-all;
  border-bottom:.0625rem dashed #EEE;
}

.song a::after {
  position:absolute;
  bottom:-0.0625rem;
  left:100%;
  width:0;
  border-bottom:0.0625rem solid #F55852;
  content:"";
  -webkit-transition:width 350ms,left 350ms;
  -moz-transition:width 350ms,left 350ms;
  -ms-transition:width 350ms,left 350ms;
  -o-transition:width 350ms,left 350ms;
  transition:width 350ms,left 350ms;
}

.song a:hover:after {
  left:0;
  width:100%;
  -webkit-transition:width 350ms;
  -moz-transition:width 350ms;
  -ms-transition:width 350ms;
  -o-transition:width 350ms;
  transition:width 350ms;
}

.song code {
  padding:2px;
  #margin:0 4px;
  word-wrap:break-word;
  background:#eee;
  border-radius:3px;
  font:14px/26px courier new;
  color: red;
  font-family: 'Dosis'!important;
}

.song pre::before {
  content:" ";
  position:absolute;
  border-radius:50%;
  background:#fc625d;
  width:12px;
  height:12px;
  left:12px;
  top:10px;
  -webkit-box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
  box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
  z-index:1;
}

.song pre::after {
  content:attr(data-lang);
  text-align:right;
  background:#ebeded;
  color:#cececf;
  width:100%;
  height:32px;
  display:block;
  position:absolute;
  top:0;
  left:0;
  line-height:32px;
  font-size:16px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:.05em;
  padding:0 12px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.song pre code {
  padding:10px;
  font-size:inherit;
  line-height:1.7;
  color:inherit;
  background-color:transparent;
  border-radius:0;
  font-family:'Poppins',"SF Pro SC","SF Pro Text","SF Pro Icons",PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
  display:block;
  overflow:auto;
}

.song ins {
  text-decoration:none;
  border-bottom:1px solid;
}

.song u {
  text-decoration:none;
  border-bottom:1px solid;
}

.song del {
  text-decoration:line-through;
}

.song pre {
  padding:12px 16px;
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
  border-radius:2px;
  background-color:#F1F3F3;
  border-radius:5px;
  padding-top:32px;
  position:relative;
}

.song code  ol {
  border:none !important;
}

.song code  ol li {
  border-bottom:none !important;
}

.song ul {
  margin:-10px 4px;
  padding:0px 20px;
  #border:1px solid #f9f9ff;
  #border-radius:3px;
  padding-left:35px;
  list-style:none;
  list-style-type: circle;
}

.song ul li::marker {
    color: #49b1f5;
    font-weight: 600;
    font-size: 1.5em;
}

.song ul li {
  font-size:14px;
  padding:5px 0;
  #border-bottom:1px solid #f9f9ff;
  line-height:25px;
  #position:relative;
}

.song ol {
    font-size: var(--content-font-size);
}
.song ol {
    margin-top: 0.4rem;
    list-style: none;
    counter-reset: ol-li;
}
ol {
    margin: 0 0 12px;
    padding: 0 0 0 12px;
}
.song ol {
    padding: 0 0 0 0.8rem;
    line-height: 1.7;
}
.song ol li:before {
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    line-height: 19px;
    margin: 7px 8px 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    background-color: #49b1f5;
    border-radius: 50%;
    text-align: center;
    content: counter(ol-li);
    counter-increment: ol-li;
    transition: all .5s;
}


.song ol li:last-child,
.song ul li:last-child {
  border-bottom:none !important;
}

.song li ol,
.song li ul {
  margin:0.8em 0;
}

.song li ul {
  list-style-type:circle;
}

.song .task-list-item {
  position:relative;
}

.song table {
  width:100%;
  max-width:100%;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:1.5em;
  font-size:0.96em;
  box-sizing:border-box;
  border-width:1;
}

.song th,
.song td {
  text-align:left;
  padding:8px;
  border:1px solid #efefef;
}

.song tr:nth-child(even) {
  background-color:#F7FAFC;
}

.song .footnotes {
  font-size:80%;
  line-height:1.32;
  opacity:0.96;
}

.song .footnotes:before {
  content:"";
  display:block;
  border-top:4px solid rgba(0,0,0,0.1);
  width:50%;
  max-width:100px;
  margin:40px 0 20px;
}

.song .img-alt {
  text-align:center;
  display:block;
  margin:0.625rem 0;
  font-size:0.875rem;
  color:#777;
}

.song .wymp3 {
  text-align:center;
}

.song .photos {
  overflow:hidden;
  margin:0 auto;
  margin-left:-0.5em;
  margin-right:-0.5em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-transition:.2s cubic-bezier(.25,.46,.45,.94) all;
  transition:.2s cubic-bezier(.25,.46,.45,.94) all;
}

.song .sosha {
  position:relative;
}

.song .photos figure {
  padding:0 5px;
  flex:1;
}

.song .photos a {
  border-bottom:none;
}

.song .photos a:before {
  display:none;
}

.img_mo {
  overflow:hidden;
  position:relative;
}

.image_title {
  position:absolute;
  top:0;
  padding:3px 6px;
  background-color:rgba(255,255,255,.9);
  margin-top:0 !important;
  border-bottom-right-radius:5px;
}

.song .emoji {
  margin:0 5px;
  width:40px;
  display:inline-flex;
}

.song .photos_album {
  display:grid;
  gap:1rem;
  grid-template-columns:repeat(4,minmax(0,1fr));
}

.song .post_album_list {
  position:relative;
  width:100%;
  height:0;
  padding-top:100%;
  background-color:#EFEFEF;
  border-radius:6px;
  overflow:hidden;
}

.song .post_album_list a {
  position:static;
}

.song .post_album_list a::after {
  display:none;
}

.song .post_album_list img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:6px;
  object-fit:cover;
  overflow:hidden;
}

.song .post_album_list figcaption {
  width:100%;
  position:absolute;
  bottom:0;
  padding:.8rem;
  font-weight:500;
  color:#FFF;
  transition:.2s;
}

.song .post_album_list:hover figcaption {
  padding:1.2rem .8rem;
}

.song figure a::before {
  display:none;
}

.song figure a[data-fancybox=gallery].lazyload-container {
  background-color:#f0f0f0;
  border-bottom:0;
}

.song figure a[data-fancybox=gallery] {
  display:block;
  position:relative;
  max-width:100%;
  height:0;
  padding:0;
  overflow:hidden;
  -webkit-transition:.3s cubic-bezier(.25,.46,.45,.94) background-color;
  transition:.3s cubic-bezier(.25,.46,.45,.94) background-color;
}

.song figure a[data-fancybox=gallery] img {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  -o-object-fit:cover;
  object-fit:cover;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.song a[data-fancybox] img {
  display:block;
  margin:0;
}

.song img.lazy {
  opacity:0;
  -webkit-transition:.8s ease-in-out opacity;
  transition:.8s ease-in-out opacity;
  filter:blur(35px);
}

.song img.loaded {
  filter:blur(0px);
  opacity:1;
  transition:1s filter linear,1s -webkit-filter linear;
}

.song_bottom {
  margin:1.2rem 1.4rem;
}

.song_tags {
  float:left;
  width:60%;
}

.song_tags a {
  font-size:12px;
  padding:2px 10px;
  border-radius:4px;
  color:var(--pigeon-major);
  border:1px dashed var(--pigeon-major);
  transition:all 0.5s;
}

.song_tags a:hover {
  color:var(--pigeon-pass);
  border:1px dashed var(--pigeon-pass);
}

.song_hb {
  float:right;
}

.song .biaoqing {
  display:inline;
  margin:0;
  width:auto;
}

.song .biaoqingg a {
  overflow:hidden;
  text-decoration:none;
  vertical-align:bottom;
  outline:0;
  border-bottom:none;
}

.song .biaoqingg a:before {
  display:none;
}

.song .biaoqing.quyin {
  margin-bottom:-0.125rem;
  min-height:2.5rem;
  height:1em;
}

.song .biaoqing.alu {
  height:33px;
  margin-bottom:-0.3125rem;
}

.song .biaoqing.paopao {
  width:30px;
  height:30px;
  margin-bottom:-0.25rem;
}

.song .song_btn {
  display:inline-block;
  padding:6px 12px;
  margin-bottom:0;
  font-size:14px;
  font-weight:400;
  line-height:1.42857143;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border:1px solid transparent;
  border-radius:2px;
  color:#FFF;
  transition:all 0.5s;
}

.song .song_btn:hover {
  opacity:0.5;
}

.song .bkc {
  background-color:#000;
  color:#000;
  transition:0.3s ease-in-out;
}

.song .bkc:hover {
  background-color:transparent;
  color:unset;
}

.song .tip-content {
  font-size:14px;
}

.song .tip {
  display:inline-block;
  width:100%;
  background:#eef6fd;
  padding:8px 20px;
  border-left:3px solid #38a3fd;
  border-radius:0 5px 5px 0;
  margin-bottom:10px;
}

.song .tip.share {
  border-left-color:#ddd;
  background:#efefef;
}

.song .tip.yellow {
  border-left-color:#ff7800;
  background:#fcf2e9;
}

.song .tip.red {
  border-left-color:#ed0000;
  background:#fcf1f1;
}

.song .tip.green {
  border-left-color:#86cc00;
  background:#f0f8e5;
}

.song .tip.green:before {
  background:#86cc00;
  content:"√";
}

.song .tip.red:before {
  background:#ed0000;
  content:"×";
}

.song .tip.yellow:before {
  background:#ff7800;
  content:"!";
}

.song .tip.share:before {
  background:#ddd;
  content:"@";
}

.song .tip:before {
  background:#38a3fd;
  border-radius:50%;
  color:#fff;
  content:"i";
  font-family:Dosis,"Source Sans Pro","Helvetica Neue",Arial,sans-serif;
  font-size:16px;
  height:21px;
  line-height:21px;
  margin-left:-32px;
  margin-top:5px;
  position:absolute;
  text-align:center;
  width:21px;
}
.song .article-collapse {
  margin:1rem 0;
  border:1px solid #ddd;
  border-radius:.25rem;
}

.song .collapse-head {
  background-color:#fafafa;
  border:none;
  color:inherit;
  cursor:pointer;
  border-radius:.25rem;
  padding:10px 15px;
}

.song .collapse-title {
  display:block;
  font-size:14px;
  cursor:pointer;
  display:flex;
  justify-content:space-between;
}

.song .collapse-title span {
  display:block !important;
}

.song .collapse-ico {}

.song .collapse-body {
  padding:15px;
  line-height:2em;
  font-size:14px;
}

.song .collapse-block {
  display:block;
}

.song .collapse-none {
  display:none;
}

.song .article-tabs {
  width:100%;
  overflow:hidden;
  margin:1rem 0;
  border:1px solid #ddd;
  border-radius:.25rem;
}

.song .article-tabs .nav {
  user-select:none;
  width:100%;
  height:40px;
  overflow-x:auto;
  overflow-y:hidden;
  -ms-scroll-chaining:none;
  overscroll-behavior:none;
  -webkit-overflow-scrolling:touch;
  display:flex;
  background:#fafafa;
}

.song .article-tabs .nav span.active {
  background-color:#fff;
  border-right-color:#dcdfe6;
  border-left-color:#dcdfe6;
}

.song .article-tabs .nav span {
  padding:0 20px;
  line-height:40px;
  height:40px;
  color:#909399;
  cursor:pointer;
  white-space:nowrap;
}

.song .article-tabs .tab-content div.active {
  display:block;
}

.song .article-tabs .tab-content div {
  display:none;
  padding:15px;
  animation:showTabs 0.5s;
}

.song .signview {
  #margin:2rem 0;
  border-radius:4px;
  position:relative;
  overflow:hidden;
}

.song .signview_box {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

.song .signview_box img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.song .signview_text {
  position:relative;
  z-index:10;
  padding:1rem;
  text-align:center;
  font-size:14px;
  display:flex;
  justify-content:center;
}

.song .signview_text_title {
  color:#FFF;
}

.song .signview_text_title a {
  color:#fd6e6e;
}

.song .form-group {
  margin:3rem 0;
  text-align:center;
}

.song .input-group {
  display:inline-block;
  position:relative;
  margin-top:1.5rem;
  border:2px solid #f0f3f8;
  background-color:#f0f3f8;
  width:260px;
  border-radius:100px;
  padding:2px 15px 2px 2px;
}

.song .input-group input {
  border:none;
  outline:none;
  -webkit-appearance:none;
  width:173px;
  height:calc(2.5rem + 2px);
  background-color:#f0f3f8;
}

.song .input-group-append {
  position:absolute;
  top:2px;
  right:2px;
}

.song .input-group-append button {
  background-color:#E57373;
  border:none;
  color:#FFF;
  cursor:pointer;
  width:42px;
  height:42px;
  border-radius:100px;
}

.song  .video {
  width:100%;
  min-height:300px;
}

pre[class*=language-].line-numbers>code {
  white-space:inherit;
  padding-left:calc(3em + -10px);
}

.song .line-numbers .line-numbers-rows {
  top:42px;
}

.line-numbers .line-numbers-rows {
  position:absolute;
  pointer-events:none;
  top:10px;
  font-size:100%;
  left:0;
  width:3em;
  letter-spacing:-1px;
  border-right:1px solid rgba(153,153,153,.2);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background:#f1f3f3;
}

.line-numbers-rows>span {
  pointer-events:none;
  display:block;
  counter-increment:linenumber;
}

.line-numbers-rows>span:before {
  content:counter(linenumber);
  color:#999;
  display:block;
  padding-right:.8em;
  text-align:right;
}

.line-numbers .iconfuzhi {
  font-weight:600;
}

code[class*="language-"],
pre[class*="language-"] {
  color:black;
  font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  font-size:1em;
  text-align:left;
  white-space:pre;
  word-spacing:normal;
  word-break:normal;
  word-wrap:normal;
  line-height:1.5;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  -webkit-hyphens:none;
  -moz-hyphens:none;
  -ms-hyphens:none;
  hyphens:none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
  text-shadow:none;
  background:#b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow:none;
  background:#b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow:none;
  }
}

pre[class*="language-"] {
  margin:.5em 0;
  overflow:auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background:#f1f3f3;
}

:not(pre) > code[class*="language-"] {
  padding:.1em;
  border-radius:.3em;
  white-space:normal;
}

.dark .song blockquote {
  background-color:#1b1b1b;
  border-left:3px solid #777;
}

.dark #header .header_box,
.dark .index_list,
.dark .OwO .OwO-body .OwO-bar,
.dark .OwO .OwO-body,
.dark .song .article-tabs,
.dark .song .article-collapse,
.dark .song a,
.dark .song ol li,
.dark .song ul li,
.dark .song ol,
.dark .song ul,
.dark .song th,
.dark .song td,
.dark .post_comments .line,
.dark .file_list_ul,
.dark .file_list_li {
  border-color:#777;
}

.dark .song code {
  background-color:rgb(0 0 0 / 66%);
}

.dark .song pre::after {
  background:#191919;
}

.dark .song pre,
.dark pre[class*=language-].line-numbers>code,
.dark .line-numbers .line-numbers-rows {
  background-color:#1b1b1b;
}

.dark .song tr:nth-child(even) {
  background-color:#191919;
}